.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow-x: hidden;

	.title {
		margin-bottom: 24px;
	}

	.upperContent {
		display: flex;
		align-items: center;
		gap: 20px;
		color: #fff;

		.divider {
			height: 20px;
			width: 1px;
			background: #fff;
		}

		.info {
			display: flex;
			align-items: center;
			gap: 8px;

			svg {
				font-weight: 700;
				transform: translateY(-2px);
			}
		}
	}
}

@media screen and (max-width: 640px) {
	.container .title {
		margin-bottom: 0;
	}
}
