.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow-x: hidden;

	.title {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 640px) {
	.container .title {
		margin-bottom: 0;
	}
}
