.button {
	outline: none;
	border: none;
	background: #6eacda;
	color: #ffff;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 32px;
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;

	&.disabled {
		cursor: not-allowed;
		opacity: 0.75;
	}
}
