.container {
	padding: 64px;
	display: flex;
	flex-direction: column;
	gap: 32px;

	.pagination {
		margin: 0 auto;
	}
}

@media screen and (max-width: 1280px) {
	.container {
		padding: 32px;
	}
}

@media screen and (max-width: 640px) {
	.container {
		padding: 12px;

		.pagination {
			margin: 0;
		}
	}
}
